.conteiner {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    margin-bottom: 16rem;
}

.secao1, .secao2__texto, .secao3 {
    text-align: center;
}

.secao1__imagem--logo_azul {
    margin-bottom: .5rem;
}

.secao2__texto {
    font-weight: 400;
    color: #3772FF;
}

.forma2 {
    position: absolute;
}
