@media screen and (min-width: 0) {
    .conteiner {
        margin-top: 1.5rem;
    }

    .forma2 {
        background: url(../../imagens/Forma\ 2\ -\ invertida.png) center / cover no-repeat;
        top: 42%;
        left: 0;
        width: 4.3rem;
        height: 24.8rem;
    }
}

@media screen and (min-width: 568px) {
    .conteiner {
        margin-top: 2.5rem;
    }
    
    .forma2 {
        background: url(../../imagens/Forma\ 2.png) center / cover no-repeat;
        top: 32%;
        right: 0;
        left:auto;
        width: 5.3rem;
        height: 30.8rem;
    }
}

@media screen and (min-width: 768px) {
    .secao2__texto, .botao {
        width: 16rem;
    }

    .forma2 {
        top: 21%;
    }

    .forma2 img {
        width: 5rem;
    }
}

@media screen and (min-width: 968px) {
    .secao2__texto {
        width: 20rem;
    }
}

@media screen and (min-width: 1200px) {
    .conteiner {
        margin-top: -2rem;
    }
}